USE [master]
GO
/****** Object:  Database [RobsHouseLightning]    Script Date: 25-3-2022 09:57:15 ******/
CREATE DATABASE [RobsHouseLightning]
GO
USE [RobsHouseLightning]
GO
/****** Object:  User [Party]    Script Date: 25-3-2022 09:57:15 ******/
CREATE USER [Party] FOR LOGIN [Party] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [Party]
GO
ALTER ROLE [db_datareader] ADD MEMBER [Party]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [Party]
GO
/****** Object:  Table [dbo].[LAMP]    Script Date: 25-3-2022 09:57:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LAMP](
	[id] [int] NOT NULL,
	[name] [varchar](50) NULL,
	[isOn] [bit] NULL,
	[state] [varchar](10) NULL,
	[frequency] [int] NULL,
	[lightswitchid] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LIGHTSWITCH]    Script Date: 25-3-2022 09:57:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LIGHTSWITCH](
	[id] [int] NOT NULL,
	[name] [varchar](50) NULL,
	[isOn] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[LAMP]  WITH CHECK ADD FOREIGN KEY([lightswitchid])
REFERENCES [dbo].[LIGHTSWITCH] ([id])
GO
/****** Object:  StoredProcedure [dbo].[DeleteLamp]    Script Date: 25-3-2022 09:57:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Bob Tossaint
-- Create date: 20220325
-- Description:	Delete Lamp by ID
-- =============================================
CREATE PROCEDURE [dbo].[DeleteLamp] 
	@LampId int
AS
BEGIN	
	
	DELETE FROM LAMP where id = @LampId
	    	
END
GO
/****** Object:  StoredProcedure [dbo].[DeleteLightSwitch]    Script Date: 25-3-2022 09:57:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Bob Tossaint
-- Create date: 20220325
-- Description:	DELETE LightSwitch by ID
-- =============================================
CREATE PROCEDURE [dbo].[DeleteLightSwitch]
	@Id int

AS
BEGIN	
	
	DELETE FROM LIGHTSWITCH 	
	WHERE id = @Id
	    	
END
GO
/****** Object:  StoredProcedure [dbo].[GetAllLightSwitches]    Script Date: 25-3-2022 09:57:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Bob Tossaint
-- Create date: 20220325
-- Description:	SELECT all LightSwitches
-- =============================================
CREATE PROCEDURE [dbo].[GetAllLightSwitches]	

AS
BEGIN	
	
	SELECT * FROM LIGHTSWITCH 		
	    	
END
GO
/****** Object:  StoredProcedure [dbo].[GetLampById]    Script Date: 25-3-2022 09:57:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Bob Tossaint
-- Create date: 20220325
-- Description:	Get Lamp by ID
-- =============================================
CREATE PROCEDURE [dbo].[GetLampById] 
	@LampId int
AS
BEGIN	
	
	SELECT * FROM LAMP where id = @LampId
	    	
END
GO
/****** Object:  StoredProcedure [dbo].[GetLampsForLightSwitches]    Script Date: 25-3-2022 09:57:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Bob Tossaint
-- Create date: 20220325
-- Description:	Get Lamps for LightSwitch
-- =============================================
CREATE PROCEDURE [dbo].[GetLampsForLightSwitches]
	@LSId int		
AS
BEGIN	
	
	SELECT * FROM LAMP WHERE lightswitchid = @LSId
	    	
END
GO
/****** Object:  StoredProcedure [dbo].[GetLightSwitchById]    Script Date: 25-3-2022 09:57:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Bob Tossaint
-- Create date: 20220325
-- Description:	SELECT LightSwitch by ID
-- =============================================
CREATE PROCEDURE [dbo].[GetLightSwitchById]
	@LightSwitchId int

AS
BEGIN	
	
	SELECT * FROM LIGHTSWITCH WHERE id = @LightSwitchId
	    	
END
GO
/****** Object:  StoredProcedure [dbo].[InsertLightSwitch]    Script Date: 25-3-2022 09:57:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Bob Tossaint
-- Create date: 20220325
-- Description:	INSERT NEW Lamp
-- =============================================
CREATE PROCEDURE [dbo].[InsertLightSwitch]
	@LampId int,
	@Name varchar(50),
	@IsOn bit
AS
BEGIN	
	
	INSERT INTO lightsWitch (id,[name],ison) VALUES(@LampId, @Name, @IsOn)
	    	
END
GO
/****** Object:  StoredProcedure [dbo].[UpdateLamp]    Script Date: 25-3-2022 09:57:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Bob Tossaint
-- Create date: 20220325
-- Description:	Update Lamp by ID
-- =============================================
CREATE PROCEDURE [dbo].[UpdateLamp] 
	@LampId int,
	@IsOn bit,
	@State varchar(10)
AS
BEGIN	
	
	UPDATE LAMP 
	SET ison = @IsOn,
		[state] = @State
	where id = @LampId
	    	
END
GO
/****** Object:  StoredProcedure [dbo].[UpdateLightSwitch]    Script Date: 25-3-2022 09:57:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Bob Tossaint
-- Create date: 20220325
-- Description:	UPDATE LightSwitch by ID
-- =============================================
CREATE PROCEDURE [dbo].[UpdateLightSwitch]
	@LightSwitchId int,
	@IsOn bit

AS
BEGIN	
	
	UPDATE LIGHTSWITCH 
	SET ison = @IsOn
	WHERE id = @LightSwitchId
	    	
END
GO
USE [master]
GO
